{% extends 'base.html.twig' %}

{% block title %}Job IT better{% endblock %}

{% block body %}
    <section class="pb-3 py-mg-5">{% include "barSearch/_barreRecherche.html.twig" %}</section>
    <section class="py-3 py-mg-5">{% include '_includes/card-business-homepage.html.twig' %}</section>
    <section class="py-3 py-mg-5">{% include '_includes/card-home-articles.html.twig' %}</section>
    <section class="py-3 py-mg-5">{% include '_includes/partner-companies-homepage.html.twig' %}</section>
{% endblock %}
