<div class="be-home-articles be-container-home pt-5 pt-md-0">

    <h2 class="be-h2">Trouver un <span>job</span> ?</h2>

    <div class="d-lg-flex justify-content-between row py-3">
        <div class="col-12 col-md-5 d-flex be-home-article-rectangle1">
            <img class="be-home-article-img " src="{{ asset('build/images/Image_4961.png') }}" alt="Notre
            proximité">
        </div>
        <div class="d-none d-lg-block col-2"></div>
        <div class="col-12 col-md-5 flex-column justify-content-center">
            <h3 class="be-h3 my-2">Notre <span>proximité</span></h3>
            <p class="be-p mx-3 mx-lg-0">L’expérience professionnelle est une chose. L’expérience de vie en est une autre.
                Alors
                nos consultants
                prennent le temps de faire connaissance avec chaque personne, pour comprendre le contexte, le parcours,
                les envies et les projets.</p>
        </div>
    </div>

    <div class="d-lg-flex flex-row-reverse py-3 row justify-content-between">
        <div class="col-12 col-md-5  d-flex  justify-content-end align-items-center be-home-article-rectangle2 ">
            <img class="be-home-article-img be-home-article-img2" src="{{ asset('build/images/Image_4962.png') }}"
                 alt="Notre performance">
        </div>
        <div class="d-none d-lg-block col-2"></div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
            <h3 class="be-h3 my-2">Notre <span>performance</span></h3>
            <p class="be-p mx-3 mx-lg-0">Notre réseau est une force et nous y travaillons sans relâche. Notre expérience nous
                permet d’identifier
                les vrais besoins d’une entreprise et de ceux qui la rejoignent.</p>
        </div>
    </div>

    <div class="d-lg-flex justify-content-between row py-3 ">
        <div class="col-12 col-md-5 d-flex be-home-article-rectangle3">
            <img class="be-home-article-img" src="{{ asset('build/images/Image_4963.png') }}" alt="Notre durabilité">
        </div>
        <div class="d-none d-lg-block col-2"></div>
        <div class="col-12 col-md-5 d-flex flex-column justify-content-center">
            <h3 class="be-h3 my-2 w-lg-75">Notre <span>durabilité</span></h3>
            <p class="be-p mx-3 mx-lg-0">Notre challenge est de trouver l’équipe qui fonctionnera ensemble de manière
                professionnelle et
                personnelle, pour aller jusqu’au bout d’un projet commun. Notre responsabilité vis-à-vis des impacts de
                nos décisions et nos actions sur le long-terme correspondent également à notre politique RSE.</p>
        </div>
    </div>

</div>
