.be-background-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: inherit;
    filter: contrast(0.5) brightness(0.7);
    position: absolute;
    z-index: -1;
}
.be-front-banner{
    height: 50vh;
    width: inherit;
    position: relative;
    z-index: 1;
}

.be-cardText-jobofferCompany {
    height: 70px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    background: #FFFFFFFF;
    opacity: 1;
    border-radius: 15px;
    border: 1px $dark-green;
    box-shadow: 0 6.25px 14px #c9cbcf, 0 0 2px #c9cbcf;
}

.be-card-joboffer {
    bottom: -25px;
    min-width: 120px;
}

.be-apply-button {
    height: 40px;
    width: 200px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    color: $dark-green;
    background: #FFFFFFFF;
    opacity: 1;
    border-radius: 15px;
    border: 1px $dark-green;
}

@media screen and ( max-width: 768px ){

    .be-apply-button{
        height: 20px;
        width: 150px
    }


}
@media screen and (max-width: 1440px){
    .be-banner-offer {
        height: 80vh;
    }
    //.be-cardText-jobofferCompany{
    //    height: 15vh;
    //}
    .be-apply-button{
        height: 20px;
        width: 170px;
    }


}
