{% extends 'base.html.twig' %}

{% block title %}Recherche d'emploi{% endblock %}
{% block body %}
    <div class="d-flex m-4">
        <a class="be-secondary-button " href="{{ path('app_user_search', { id: app.user.id }) }}">Retour à la page
            précédente</a>
    </div>
<div class="be-container-search mt-5 d-flex justify-content-center">

    {{ include ('_includes/joboffer-card-template.html.twig') }}

    {% if app.user %}
        <div class="be-container-sidebar sidebar d-none d-lg-block position-relative">
            <div class="p4 p5 sticky-element">
                {{ include ('_includes/cards-search-page.html.twig') }}
            </div>
        </div>
    {% endif %}
</div>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(joboffers) }}
    </div>
{% endblock %}
